* {
  box-sizing: border-box;
}
.bckimg {
  background-image: url("media/sky2.jpg");
  content: '';
  display: block;
  position: absolute;
  top: 50;
  left: 0;
  height: 180px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.7;
}
#isr {
  background-image: url("media/sunrise.jpg");
  content: '';
  display: block;
  position: absolute;
  top: 50;
  left: 0;
  min-height: 180px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#eur {
  background-image: url("media/europa.jpg");
  content: '';
  display: block;
  position: absolute;
  top: 50;
  left: 0;
  height: 180px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#usa {
  background-image: url("media/ny.jpg");
  content: '';
  display: block;
  position: absolute;
  top: 50;
  left: 0;
  height: 180px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#rus {
  background-image: url("media/Rus/rus2.jpg");
  content: '';
  display: block;
  position: absolute;
  top: 50;
  left: 0;
  height: 180px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#cont {
  background-image: url("media/cotor.jpg");
  content: '';
  display: block;
  position: absolute;
  top: 50;
  left: 0;
  height: 180px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bckimg p {
  text-align: center;
  font-weight:bold;
  font-size: 3em;
  margin-top: 45px;
  color: black;
}
.rest {
  text-align: center;
  margin-top: 200px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  color: black;
  background-color: rgb(248, 248, 249);
}
.nav, ul, li {
    background-color: rgb(245, 245, 245);
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .container1 .photo {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
img {
    width: 350px;
    height: auto;
    margin: 10px;
    transition: all 1s;
}
img:hover {
    transform: scale(1.1);
}
a:link {
    color: rgb(6, 12, 42);
    font-size: 19px;
}
a:visited {
    color: rgb(15, 8, 64);
    font-size: 19px;
}
a:hover {
    color: rgb(39, 165, 211);
    font-size: 21px;
}
.row {
  margin-top: 12em;
  background-color: rgb(205, 219, 238);
 }
.another_card {
    font-size: 100%;
    padding: 15px;
  }
footer {
    margin: 20px;
    text-align: center;
  }
aside {
  text-align: center;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.btn {
    background-color: rgb(22, 11, 72);
    margin-bottom: 10px;
 }
img {
  width: 350px;
  height: auto;
  margin: 10px;
  transition: all 1s;
}
img:hover {
  transform: scale(1.1);
}
.descr {
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}
.card .card-image img {
margin-left: 0;
padding-left: 0;


}