/* custom css */
:root {
    --main-bg-color: lightgray;
    --main-text-color: rgb(134, 69, 69);
    --main-font-size: 16px;
}
.header-container {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-size: var(--main-font-size);
}

h1 {
    color: green;
}
p {
    color: blue;
}
div {
    margin: 20px;
}
body, html, p {
    margin: 0;
    padding: 0;
}
#container, #container2, #container3 {
    width: 800px;
    margin: 0 auto;
    background-color: yellow;
}

.h1 {
    color: plum
}
.header-one {
    font-size: 42px;
}
.header-one-bg {
    background-color: lightcoral;
}
div.container.innerdiv {
    background-color: lightseagreen;
}
p[id="para"] {
    color: red;
}
input[type="text"] {
    width: 200px;
}
/* pseudo-class */
a:link {
    color: green;
}
a:visited {
    color: red;
}
a:hover {
    color: blue;
}
a:active {
    color: yellow;
}
/* :first-child */
.ul-first-child li:last-child {
color: red;
}
html {
    font-class: 4rem;
}
/* relative unit */
.pixel-22 {
    font-size: 22px;
}
.em-2 {
    font-size: 3em;
}
.em-3 {
font-size: 3em;
}
.rem-2 {
    font-size: 2rem;
}
/* viewport */
.vh-50 {
    height: 50vh;
}
/* .vh-50 {
    w
} */